 .container{
        padding: 10px;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    
    .container p{
      display: block;
        font-size: 20px;
    }

.cta-btn {
    display: inline-block;
    position: relative;
    font-size: 20px;
    padding: 0.8rem 20px;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
}
#about{
  background-color:#e8ecee;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.cta-btn-more,.cta-btn-email{
    color: white;
    border: 1.5px solid white;
    margin-top: 30px;
    border-radius: 4pt;
}
.cta-btn-more{
	animation: up 1.5s ease;
}
@keyframes up {
  from {
    transform: translateY(200px);
	opacity: 0;
  }
  to {
    transform: translateY(0px);
	opacity: 1;
  }
} 
.reveal.active .cta-btn-email ,.reveal.active .cta-btn--resume{
	animation: up 1.5s ease;
}
.cta-btn--resume{
    color:DarkBlue;
    top: 20px;
border: 1.5px solid  Darkblue;
border-radius: 4pt;
}
#about p , .project-info .project-title{
  text-align:left;
}
.cta-btn--about:hover{
  color: Black;
  border: 1.5px solid Black;
  transform:scale(1.1);
}
.cta-btn--resume:hover{
  color: White;
  border: 1.5px solid white;
  transform: scale(1.1);
}
