body{
    margin:  0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
   }
 #top{
    min-height: 100vh;
    height: 100vh;
	color:White;
	  justify-content: center;
      align-items: center;
	  text-align: center; 
    background: linear-gradient( 180deg ,rgba(30, 255, 7, 1),rgba(14, 250, 12, 1));
    } 
    h1{
    color: white;
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: -2px;
    }
    h2,h3{
        color:#0e0d46;
		font-size:2rem;
    }
.top-container{
	  position:relative;
	  top:25%;
  }
  .top-container p{
    padding: 5px;
  color: white;
  text-align: center;
  }
.icon-3d {
    padding: 10px;
    color: #fff;
  }
  .icon-3d:hover{
	color:#000000;
  }
